body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.text-box {
    top: 40%;
    left: 25%;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    text-align: center;
}
#button-wrapper {
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
}
.button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-left:20px;
    margin-right:20px;
    word-spacing: normal;
    letter-spacing: 5px;
    border: 1px solid white;
    background: black;
    cursor: pointer;
}

#curtainOne {
    opacity: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}

#curtainTwo {
    opacity: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}

.screen-change {
    background-color: black;
}

.flex {
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-side {
    position: absolute;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(238, 238, 238);
}

.intro-text {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 50%;
}

.canvas-side {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}



